<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- WebService 拦截器 -->
  <servlet>
  	<servlet-name>cxf</servlet-name>
  	<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
  	<init-param>
  		<!-- Spring的配置文件 -->
  		<param-name>config-location</param-name>
  		<param-value>/WEB-INF/cxf-servlet.xml</param-value>
  	</init-param>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>cxf</servlet-name>
  	<url-pattern>/ws/*</url-pattern>
  </servlet-mapping>
  
  
  <!-- 全站参数配置 -->
  <context-param>
  	<description>全站统一使用编码</description>
  	<param-name>Encode</param-name>
  	<param-value>utf-8</param-value>
  </context-param>
  
  
  <!-- 全站错误页面 -->
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/error/500.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error/404.jsp</location>
	</error-page>
  
  <!-- Sesson监听器 -->
  <listener>
  	<listener-class>com.blueice.listener.MySessionListener</listener-class>
  </listener>
  
  <!-- 过滤器配置 -->
  <filter>
  	<description>全站乱码过滤器</description>
  	<filter-name>EncodeFilter</filter-name>
  	<filter-class>com.blueice.filter.EncodeFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>EncodeFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>registServlet</servlet-name>
    <servlet-class>com.blueice.web.registServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ValiImg</servlet-name>
    <servlet-class>com.blueice.web.ValiImg</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ActiveServlet</servlet-name>
    <servlet-class>com.blueice.web.ActiveServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.blueice.web.loginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>com.blueice.web.logoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addProdServlet</servlet-name>
    <servlet-class>com.blueice.web.addProdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>prodListServlet</servlet-name>
    <servlet-class>com.blueice.web.prodListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImgServlet</servlet-name>
    <servlet-class>com.blueice.web.ImgServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>prodInfoServlet</servlet-name>
    <servlet-class>com.blueice.web.prodInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addCarServlet</servlet-name>
    <servlet-class>com.blueice.web.addCarServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>delCarServlet</servlet-name>
    <servlet-class>com.blueice.web.delCarServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeCartServlet</servlet-name>
    <servlet-class>com.blueice.web.ChangeCartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>clearCarServlet</servlet-name>
    <servlet-class>com.blueice.web.clearCarServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addOrderServlet</servlet-name>
    <servlet-class>com.blueice.web.addOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>orderListServlet</servlet-name>
    <servlet-class>com.blueice.web.orderListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>delOrderServlet</servlet-name>
    <servlet-class>com.blueice.web.delOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ValiNameServlet</servlet-name>
    <servlet-class>com.blueice.web.ValiNameServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadMsg</servlet-name>
    <servlet-class>com.blueice.web.UploadMsg</servlet-class>
  </servlet>









  <servlet-mapping>
    <servlet-name>registServlet</servlet-name>
    <url-pattern>/registServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValiImg</servlet-name>
    <url-pattern>/ValiImg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActiveServlet</servlet-name>
    <url-pattern>/ActiveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addProdServlet</servlet-name>
    <url-pattern>/addProdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>prodListServlet</servlet-name>
    <url-pattern>/prodListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImgServlet</servlet-name>
    <url-pattern>/ImgServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>prodInfoServlet</servlet-name>
    <url-pattern>/prodInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addCarServlet</servlet-name>
    <url-pattern>/addCarServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>delCarServlet</servlet-name>
    <url-pattern>/delCarServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeCartServlet</servlet-name>
    <url-pattern>/ChangeCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>clearCarServlet</servlet-name>
    <url-pattern>/clearCarServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addOrderServlet</servlet-name>
    <url-pattern>/addOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>orderListServlet</servlet-name>
    <url-pattern>/orderListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>delOrderServlet</servlet-name>
    <url-pattern>/delOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValiNameServlet</servlet-name>
    <url-pattern>/ValiNameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadMsg</servlet-name>
    <url-pattern>/UploadMsg</url-pattern>
  </servlet-mapping>
 
</web-app>
